body {
    background-color: #d7ba19;
}

#wrapper {
    width: 75%;
    margin: auto;
}

h1{
    display: inline-block;
    position: relative;
    bottom: 3em;
    font-size: 2rem;
    color: #000;
}